@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@500&display=swap');

:root {
    --main-color: #04c6db;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 3rem;
}

.gradient-bg {
    display: flex;
    width: 12rem;
    background-image: linear-gradient(to right, var(--main-color) 65%, transparent 95%);
    border-radius: 15px;
    height: 7rem;
    margin: 20px;
}

.button {
    line-height: calc(7rem - 3px);
    color : var(--main-color);
    border-radius: 12px;
    text-decoration: none;
    background-color: black;
    height: calc(7rem - 6px);
    width: calc(12rem - 6px);
    margin: auto;
    text-align: center;
}

.button:hover {
    color: black;
    background-image: linear-gradient(to right, var(--main-color) 65%, transparent 97%);
}